<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
  
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }
  
    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    th:nth-child(1),
    td:nth-child(1) {
    width: 3%; 
    } 

    th:nth-child(2),
    td:nth-child(2) {
    width: 20%; 
    }

    th:nth-child(3),
    td:nth-child(3) {
    width: 47%; 
    }

    th:nth-child(4),
    td:nth-child(4) {
    width: 30%; 
    }
    
  </style>
  
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= sub %></p>
    <table>
      <tr>
        <th>ID</th>
        <th>Term</th>
        <th>Description</th>
        <th>References</th>
      </tr>

      <% names.forEach((name) => { %>

      <tr>
        <td>
          <%= name.id %>
        </td>
        <td>
          <%= name.term %>
        </td>
        <td>
          <%= name.description %>
        </td>   
        <td>
          <%= name.references %>
        </td>     
      </tr>
    <% }) %>
    </table>
  
  </body>
</html>

